#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}

#view_selection {
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.country {
  font-size: 21px;
  fill: #aaa;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #ff50a0;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  color: #333;
	padding: 10px;
	width: 300px;
  font-size: 15px;
  font-weight: bold;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

