body {
  margin: 0;
  background-color: rgba(248,249,250, 1);
  color: #212529;
  font-family: 'Noto Sans', sans-serif;
}

#wrap {
  position: relative;
  width: 100%;
  max-width: 1300px;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

#diagram {
  position: fixed;
  top: 30px;
  bottom: 0;
}

h1 {
  position: fixed;
  display: block;
  top: 0;
  margin: 20px 0 40px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

svg {
  position: relative;
  margin-top: 0px;
  width: 1000px;
  height: 1000px;
}

svg .category line {
  stroke: #000;
}

svg .categoryLabel {
  cursor: pointer;
}

svg .categoryDescription {
  text-anchor: middle;
  fill: #212529;
  font-size: 12px;
}

svg .fraction {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

svg .transition {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

svg .categoryNumber {
  text-anchor: middle;
  fill: #212529;
  font-size: 14px;
}

svg .fraction rect {
  stroke: none;
  cursor: pointer;
}

svg .fraction .fractionLabel {
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

svg .fraction.active .fractionLabel {
  opacity: 1;
}

svg .fraction.selected .fractionLabel {
  opacity: 1;
}

svg .fraction.selected.faded .fractionLabel {
  opacity: 0;
}

svg .fractionLabel rect {
  fill: rgba(255, 255, 255, 0);
  stroke: none;
}

svg .fractionLabel text {
  fill: #212529;
  font-size: 12px;
  font-family: sans-serif;
}

svg .transition {
  opacity: .7;
  cursor: pointer;
}

svg .transitions .jump .transition {
  opacity: .6;
}

svg .faded:not(.active) {
  opacity: .15 !important;
}

#sidePanel {
  position: absolute;
  left: 10px;
  top: 80px;
  width: 210px;
  background: rgba(248,249,250, 1);
  /* box-shadow: 0 0 50px #171717; */
}

#listHeader {
  position: fixed;
  top: 0;
  width: 210px;
  height: 51px;
  padding-top: 30px;
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #212529;
  background: rgb(222,226,230, .8);
  z-index: 1;

  border-bottom: 1px solid #adb5bd;

  -webkit-transition: border-bottom .3s, box-shadow .3s;
  transition: border-bottom .3s, box-shadow .3s;
}

#listHeader.scroll {
  border-bottom: 1px solid #999;
  box-shadow: 0 0 50px #171717;
}

#listHeader #title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  padding: 0 10px;
}

#listHeader #clear {
  position: absolute;
  right: 0;
  bottom: 31px;
  opacity: .3;
}

#listHeader #clear svg {
  width: 10px;
  height: 10px;
}

#listHeader #clear line {
  stroke: #eee;
}

#listHeader #clear:hover {
  opacity: 1;
}

#listHeader #supp {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 17px;
  font-size: 12px;
  color: #9a9a9a;
}

#listHeader #counter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
  font-size: 12px;
  color: #9a9a9a;
}

#clear {
  cursor: pointer;
}

#clear.hidden {
  display: none;
}

.trainees {
  box-sizing: border-box;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.trainees .trainee {
  position: relative;
  padding: 3px 0;
  cursor: default;
}

.trainees .trainee.hidden {
  display: none;
}

.trainees .trainee .traineeName {
  color: #495057;
  position: relative;
  margin-left: 65px;
  font-size: 12px;
}

.trainees .trainee:hover .traineeName {
  color: #ff50a0;
}

.traineeGroups {
  position: absolute;
  left: 0;
  top: 10px;
  width: 70px;
}

.traineeGroup {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 2px;
}

.traineeGroup.empty {
  border: 1px solid #333;
}

#footer {
  position: fixed;
  font-size: 10px;
  bottom: 7px;
  margin-left: 45px;
  opacity: .3;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#footer:hover {
  opacity: 1;
}

#footer a {
  position: relative;
  color: #eee;
  text-decoration: none;
}

#footer a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 1px;
  background: #9a9a9a;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#footer a:hover:after {
  opacity: 1;
}