body {
  background: #f6f6f6;
}

.top-message {
  text-align: center;
}

.trainee-info {
  padding: 20px 10px 0;
  margin-bottom: -20px;
}

.trainee-info:last-child {
  margin-bottom: 5px;
}

.trainee-picture-mask {
  position: absolute;
  /* margin-top: 5px; */
  width: 72px;
  height: 72px;
  background: url('/images/mask_line72.png') 0 0 no-repeat;
  z-index: 19;
}

.trainee-picture {
  position: absolute;
  /* margin-top: 5px; */
  width: 72px;
  height: 72px;
  z-index: 18;
}

.trainee-name {
  font-weight: bold;
  line-height: 23px;
  padding-left: 80px;
}

.progress-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.outer-value {
  color: #888;
  position: absolute;
  top: 39px;
  left: 80px;
  font-weight: 700;
}
