.ui.pink.inverted.progress .bar {
  background-color: #ff50a0;
  height: 30px;
}

.ui.progress .bar>.progress {
  font-size: 1em;
}

.ui.inverted.menu {
  background-color: #666;
}

.top-menu .ui.fixed.top.sticky {
  z-index: 999;
}